<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <!-- 
  See https://github.com/nlog/NLog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    
    <target name="database" xsi:type="Database">
      <connectionStringName>DapperPagingSample</connectionStringName>
      <commandText>INSERT INTO Log (Date, Thread, [LevelId], Location, Message) VALUES (@log_date, @thread, 1, @location, @message)</commandText>

      <parameter name="@log_date" layout="${date}" />
      <parameter name="@thread" layout="${threadid}" />
      <!--<parameter name="@level" layout="${level}" />-->
      <!--<parameter name="@username" layout="${identity}" />-->
      <parameter name="@location" layout="${logger}" />
      <parameter name="@message" layout="${message}" />

    </target>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>